@media (max-width: 1024px) {
  /*Global*/
  .sec_tit h2 {
    font-size: 30px;
  }
  .sec_tit p {
    font-size: 16px;
  }
  .view_btn {
    font-size: 14px;
  }

  /*Header*/
  header { height: 60px; }
  .nav .gnb {
    display: none;
  }
  .header_inner .logo img {
    width: 120px;
  }
  .menu_btn {
    display: block;
  }
  .search_btn {
    right: 82px;
  }
  .search_btn img {
    width:40px;
  }
  
  /* Main Visual */
  .visual_inner {
    margin: 60px auto 0;
  }
  .visual_desc {
    top: 18%;
    left: 22%;
    width: 11vw;
  }
  .visual_pc { display: none; }
  .visual_tablet { display: block; }

  /* Quick Menu  */
  #main_qmenu > div {
    height: 72px;
    line-height: 78px;
  }

  /* Difference */
  .diff_space > div{
    float: none;
    width: 100%;
    margin-bottom: 0;
  }
  .diff_space_desc,  
  .diff_design_desc {
    text-align: center;
    margin: 0;
    padding: 30px 0 50px;
  }
  .diff_design > div{
    float: none;
    width: 100%;
  }
  .diff_space_desc { background: url(img/cloud_l.png) no-repeat 30% 30px; }
  .diff_design_desc { background: url(img/cloud_r.png) no-repeat 70% 30px; }

  .diff_space_desc h3, .diff_design_desc h3 {
    font-size: 22px;
  }
  .diff_space_desc p, .diff_design_desc p {
    font-size: 16px;
  }
  
  .media_inner { margin-left: 40px; }
  .media_slide .slick-prev {
    right: 15%;
  }
  .media_slide .slick-next {
    right: 6%;
  }

  /*Gallery*/
  .gallery_tit .view_btn {
    bottom: 46px;
  }
  .gallery_slide p {
    font-size: 18px;
  }

  /* Review */
  .review_left {
    float: inherit;
    width: 100%;
  }
  .review_left .review_tit {
    height: 130px;
    padding-top: 0;
  }
  .review_tit .view_btn {
    top: 44px;
    right: 0;
    left: inherit;
  }
  .review_right {
    float: inherit;
    width: 100%;
  }
  .review_list .list_title {
    font-size: 16px;
  }
  .review_list .list_date {
    font-size: 14px;
  }

  /* Sns */
  .sns_gallery .sns_item:nth-child(5) {
    display: none;
  }
  .sns_gallery .sns_item {
    width: 25%;
  }
  .sns_tit h2:first-child {
    padding-top: 0;
  }
  .sns_tit h2:last-child {
    padding-top: 100px;
  }

  /* Footer */
  #footer_sec{
    padding-top: 52px;
  }
  .footer_inner .footer_left {
    float: inherit;
    text-align: center;
  }
  .footer_left div ~ div {
    margin-top: 22px;
  }
  .footer_info {
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    height: 90px;
  }
  .footer_info div {
    display: inline-block;
    margin-left: 40px;
  }
  .footer_left .footer_info {
    font-size: 14px;
  }
  .footer_inner .footer_right {
    float: inherit;
    text-align: center;
    margin-top: 30px;
  }
  .footer_right div ~ div {
    margin-top: 30px;
  }
  .footer_sns_ico li > a {
    width: 42px;
    height: 42px;
  }
  .footer_menu a {
    font-size: 14px;
  }
  .footer_txt {
    font-size: 12px;
  }
}

@media (max-width: 640px) {
  /* Global */
  .container {
    padding: 0 20px;
  }
  .sec_tit h2 {
    font-size: 26px;
  }
  .sec_tit p {
    font-size: 14px;
  }
  
  /* Fixed buton */
  .top_btn {
    right: 20px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
  }
  .consulting_btn {
    right: 80px;
    width: 106px;
    height: 44px;
    line-height: 45px;
    font-size: 14px;
  }
  
  /* Header */
  .menu_btn { right: 24px; }
  .search_btn { right: 62px; }
  .visual_tablet { display: none; }
  .visual_mobile { display: block; }
  .visual_desc {
    top: 7%;
    left: 0;
    width: 100%;
  }
  .visual_desc .visual_desc_mobile {  
    width: 45%;
    display: block;
    margin: 0 auto;
  }
  .visual_desc .visual_desc_pc{
    display: none;
  }

  /* Difference */
  .diff_inner h2 {
    margin: 80px 0 30px;
  }
  .diff_space_desc {
    background: url(img/cloud_l.png) no-repeat 20% 10px;
    background-size: 42%;
  }
  .diff_design_desc {
    background: url(img/cloud_r.png) no-repeat 90% 10px;
    background-size: 42%;  
  }
  .diff_space_desc h3, .diff_design_desc h3 {
    font-size: 20px;
    margin: 0 0 10px;
  }
  .diff_space_desc p, .diff_design_desc p {
    font-size: 14px;
  }
  .diff_space_desc p > br, .diff_design_desc p > br { display: none; }

  /* Media */
  #media_sec {
    background: url(img/media_bg.png) no-repeat -252px 15%;
    background-size: 442px
  }
  .media_inner {
    margin-left: 20px; 
  } 
  .media_slide .slick-arrow {
    display: none !important;
  }
  
  /* Gallery */
  .gallery_inner.container {
    padding: 0 12px;
  }
  .gallery_slide .slider .slick-list {
    margin: 0 -6px;
  }
  .gallery_slide .slick-slide {
    margin: 0 6px;
  }
  .gallery_slide p {
    font-size: 16px;
  }

  /*Review*/
  .review_list .list_title {
    float: inherit;
    font-size: 14px;
  }
  .review_list .list_date {
    float: inherit;
    font-size: 12px;
    margin-top: 6px;
  }

   /* Sns */
  .sns_tit {
    float: inherit;
    writing-mode: inherit;
    margin-bottom: 30px;
  }
  .sns_tit h2 {
    letter-spacing: 0;
    word-spacing: -4px;
  }
  .sns_tit h2:last-child {
    padding-top: 0;
  }
  .sns_gallery ul {
    width: 100%;
  }
  .sns_gallery .sns_item:nth-child(4), 
  .sns_item:nth-child(3) { 
    display: none; 
  }
  .sns_gallery .sns_item {
    width: 50%;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .sns_gallery .sns_item:nth-child(2n) {
    padding-left: 0;
    padding-right: 10px;
  }

  /* Footer */
  #footer_sec {
    padding-top: 50px;
  }
  .footer_logo a {
    width: 64px;
    height: 64px;
  }
  .footer_info {
    height: 144px;
    padding: 20px;
  }
  .footer_info div {
    display: block;
    margin-left: 0;
  }
  .footer_menu li {
    margin-left: 18px;
  }
  .footer_sns_ico li > a {
    width: 34px;
    height: 34px;
  }
}
