/* Web Font : NotoSansKR 
  font-family: 'Song Myung', serif;
  font-family: 'Gowun Batang', serif;
*/

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

@font-face {
  font-family: 'JSongMyung-Regular-KO';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* Reset CSS */
* { box-sizing: border-box; }
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #262626;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
h2, p {
  margin: 0;
}

/* Global */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  color: #262626;
}
.container {
  max-width: 1340px;
  margin: auto;
  padding: 0 40px;
}
.sec_tit h2 {
  font-family: 'JSongMyung-Regular-KO';
  font-weight: normal;
  font-size: 32px;
}
.sec_tit p {
  font-size: 18px;
  color: #747272;
}
.view_btn {
  position: absolute;
  color: #6c6a6a;
}
.view_btn .right_ico.fas {
  margin-left: 4px;
  vertical-align: middle;
}

/* fixed button */
.top_btn {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 50px;
  height: 50px;
  line-height: 48px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px rgb(0 0 0 / 10%);
  text-align: center;
  z-index: 9999;
}
.top_btn a {
  display: block;
}
.consulting_btn {
  position: fixed;
  bottom: 20px;
  right: 100px;
  width: 126px;
  height: 50px;
  line-height: 48px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 0 10px 4px rgb(0 0 0 / 10%);
  text-align: center;
  z-index: 9999;
}
.consulting_btn .fa-comments {
  padding-left: 6px;
}

/* ************ Header ************* */
header { 
  width: 100%; 
  height: 80px; 
  position: fixed;
  top: 0;
  background-color: #fefefe;
  z-index: 99;
}
.header_inner {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background-color: #fefefe;
}
.header_inner .logo,
.header_inner .nav { 
  float: left; 
}
.header_inner .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.header_inner .nav { width: 100%; }
.nav .gnb {
  width: 70%;
  margin: 0 auto;
  padding: 0 0 0 70px;
}
.gnb > li {
  float: left;
  width: 20%;
  text-align: center;
  line-height: 80px;
  border-bottom: 1px solid transparent;
}
.gnb > li > a {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}
.gnb > li > a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #a3afb5;
  width: 0;
  height: 2px;
  transition: 0.3s;
}
.gnb > li > a:hover::after { width: 100px; }
.search_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-42%);
  right: 40px;
}
.search_btn .fa-search {
  font-size: 28px;
  color: #747272;
  -webkit-text-stroke: 1px white;
}
.menu_btn { 
  display: none; 
  width: 24px; 
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 44px;
}
.menu_btn span {
  position: absolute;
  text-align: left;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #747272;
  transition: .5s;
}
.menu_btn span:first-child { top: 0; }
.menu_btn span:nth-child(2) { top: 50%; right: -4px; }
.menu_btn span:last-child { top: 100%; }

/* Menu Button Click Style*/
.menu_btn.active span:first-child {
  top: 50%;
  transform: rotate(225deg);
}
.menu_btn.active span:nth-child(2) { right: 4px; opacity: 0; }
.menu_btn.active span:last-child {
  top: 50%;
  transform: rotate(-225deg);
}

/* GNB Drop Menu */
header .gnb_bg {
  display: none;
  width: 100%;
  position: absolute;
  top: 80px;
  height: 320px;
  border-top: 1px solid #d4d4d4;
  background-color: #fefefe;
  box-shadow: 0 8px 8px rgb(0 0 0 / 10%);
}
.gnb .gnb_sub {
  display: none;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.gnb_sub li { line-height: 40px; }
.gnb_sub li a {
  font-size: 16px;
  color: #747272;
}
/* Mobile GNB Style */
.mobile_nav {
  display: block;
  position: fixed;
  top: 60px;
  right: -100%;
  width: 300px;
  height: 100vh;
  background-color: #fefefe;
  box-shadow: -4px 0px 20px rgb(0 0 0 / 13%);
  transition: 1s ease-in-out;
}
.mobile_nav.active { right: 0; }
.mobile_gnb > li > a {
  display: block;
  padding: 20px 32px;
  font-weight: 500;
  border-bottom: 1px solid #c6c6c6;
}
.mobile_gnb > li:first-child > a { border-top: 1px solid #c6c6c6; }
.mobile_gnb .mobile_gnb_sub {
  display: none;
  background-color: #f9f9f9;
}
.mobile_gnb_sub li {
  padding: 14px 40px;
}
.mobile_gnb_sub li a {
  color: #747272;
}

/* ************ Main Visual ************* */
.visual_inner { 
  position: relative;
  margin: 80px auto -5px;
}
.visual_desc {
  position: absolute;
  top: 15%;
  left: 26%;
  width: 7.6vw;
}
.visual_desc .visual_desc_pc { width: 98%; }
.visual_desc .visual_desc_mobile { display: none; }
.visual_desc .desc_mobile {
  display: none;
  font-family: 'Song Myung', serif;
  text-align: center;
  color: #fefefe;
  font-size: 6.8vw;
  line-height: 9.8vw;
  letter-spacing: 0.4vw;
}
.visual_img img {
  width: 100%;
}
.visual_tablet, .visual_mobile{
  display: none;
}

/* ************ Quick Menu ************* */
#main_qmenu {  
  width: 100%;
  box-shadow: 0 2px 8px 4px rgb(0 0 0 / 10%);
}
#main_qmenu > div {
  height: 90px;
  line-height: 90px;
  text-align: center;
  float: left;
  width: 50%;
}
#main_qmenu > div > a {
  display: block;
  width: 100%;
  font-family: 'JSongMyung-Regular-KO';
  font-size: 20px;
  transition: .3s;
}
#main_qmenu > div > a:hover {
  background-color: #a3afb5;
  color: #fefefe;
}

/* ************ Difference ************* */
#diff_sec {
  margin-top: 110px;
}
.diff_inner h2 {
  text-align: center;
  margin-bottom: 40px;
}
.diff_space_img > img,
.diff_design_img > img {
  width: 100%;
}
.diff_space_desc h3, .diff_design_desc h3 {
  font-family: 'JSongMyung-Regular-KO';
  font-weight: normal;
  font-size: 24px;
}
.diff_space > div{
  float: left;
  margin-bottom: 30px;
}
.diff_space_img { width: 45%; }
.diff_space_desc {
  width: 52%;
  padding: 0 20px 0 8%;
  background: url(img/cloud_l.png) no-repeat top left;
  margin: 8% 12px;
}
.diff_design > div {
  float: right;
}
.diff_design_img { width: 45%; }
.diff_design_desc {
  text-align: right;
  width: 50%;
  background: url(img/cloud_r.png) no-repeat top right;
  margin: 8% 20px 0 0;
  padding: 0 8% 0 0;
}
/* ************ Media ************* */
#media_sec {
  background: url(img/media_bg.png) no-repeat -68px 15%;
  background-size: 578px;
}
.media_inner {
  margin-left: 15%;
  padding: 110px 0;
}
.media_slide div > img {
  width: 96%;
  margin: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}
.media_tit {
  margin-bottom: 30px;
}
.media_tit p {
  margin-top: 6px;
}
.media_slide .slick-arrow {
  top: -90px;
}
.media_slide .slick-prev {
  left: inherit;
  right: 26%;
}
.media_slide .slick-next {
  right: 20%;
}
.media_slide .slick-prev:before, 
.media_slide .slick-next:before {
  color: #747272;
  font-size: 40px;
}
/* ************ Gallery ************* */
.gallery_inner {
  text-align: center;
  margin-top: 40px;
}
.gallery_tit {
  position: relative;
  background:url(img/cloud_l.png) no-repeat 44% 10%;
  padding: 30px 0 40px;
}
.gallery_tit .view_btn {
  bottom: 44px;
  right: 0;
}
.slick-prev:before, .slick-next:before {
  color: #747272;
}
.gallery_slide .slider .slick-list {
  margin: 0 -10px;
}
.gallery_slide .slick-slide {
  margin: 0 10px;
}
.gallery_slide .slick-slide img {
  width: 100%;
}
.gallery_slide p {
  margin-top: 24px;
  font-size: 20px;
}
.gallery_slide .slick-dots li button:before {
  margin-top: 40px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  content: '';
  opacity: .15;
  background-color: black;
}
.gallery_slide .slick-dots li.slick-active button:before {
  opacity: 1;
  background: #a3afb5;
  border-radius: 10px;
  width: 16px;
  left: -3px;
}
.slick-prev:before {
  content: '\f104';
  font-family: 'FontAwesome';
  -webkit-text-stroke: 2px white;
}
.slick-next:before{
  content: '\f105';
  font-family: 'FontAwesome';
  -webkit-text-stroke: 2px white;
} 

/* ************ Review ************* */
#review_sec {
  margin-top: 150px;
  padding: 100px 0;
  background: #f8f8f4;
} 
.review_left {
  float: left;
  width: 50%;
}
.review_left .review_tit { 
  position: relative;
  height: 200px;
  padding-top: 20px;
}
.review_tit p {
  margin-top: 10px;
}
.review_tit .view_btn {
  bottom: 0;
  left: 0;
}
.review_right {
  float: right;
  width: 50%;
}
.review_right .review_list {
  padding: 20px 0;
  border-bottom: 1px solid #c6c6c6;
  line-height: 20px;
}
.review_list a {
  display: block;
}
.review_list .list_title {
  float: left;
  font-size: 18px;
  color: #747272;
}
.review_list .list_date {
  float: right;
  font-size: 16px;
  color: #9b9b9b;
}
/* ************ Sns ************* */
#sns_sec {
  margin-top: 110px;
}
.sns_tit {
  float: left;
  writing-mode: vertical-lr;
}
.sns_tit h2 {
  letter-spacing: 16px;
  word-spacing: -16px;
}
.sns_tit h2:first-child {
  padding-top: 40px;
  color: #80949e;
}
.sns_tit h2:last-child {
  padding-top: 140px;
}
.sns_tit span {
  writing-mode: lr;
  letter-spacing: 0;
}
.sns_gallery ul {
  float: right;
  width: 84%;
  display: table;
}
.sns_gallery .sns_item {
  width: 20%;
  float: right;
  padding-left: 20px;
  padding-bottom: 20px;
}
.sns_item a {
  display: block;
}
.sns_item img {
  width: 100%;
} 
/* ************ Footer ************* */
#footer_sec {
  margin-top: 100px;
  background: 
  url(img/footer_bg_l.png) no-repeat 0 100%, 
  url(img/footer_bg_r.png) no-repeat 100% 100%, 
  linear-gradient(48deg, rgba(164,166,169) 20%, rgba(182,195,201) 100%);
  padding: 90px 0;
  font-size: 18px;
  color: #fefefe;
}
.footer_inner .footer_left {
  float: left;
}
.footer_left div ~ div {
  margin-top: 38px;
}
.footer_logo a {
  display: inline-block;
  background: url(img/logo_white.png) no-repeat 0 0 / cover;
  width: 84px;
  height: 84px;
}
.footer_left .footer_info {
  font-size: 16px;
}
.footer_inner .footer_right {
  float: right;
  text-align: right;
  margin-top: 20px;
}
.footer_right div ~ div {
  margin-top: 56px;
}
.footer_sns_ico li {
  display: inline-block;
  margin-left: 30px;
}
.footer_sns_ico li > a {
  display: inline-block;
  width: 54px;
  height: 54px;
  text-indent: -9999px;
}
.sns_instagram {
  background: url(img/footer_instagram.png) no-repeat 0 0 / cover;
}
.sns_facebook {
  background: url(img/footer_facebook.png) no-repeat 0 0 / cover;
}
.sns_blog {
  background: url(img/footer_blog.png) no-repeat 0 0 / cover;
}
.footer_menu li {
  display: inline-block;
  margin-left: 70px;
} 
.footer_menu a {
  font-size: 16px;
  color: #fefefe;
  font-weight: 500;
}
.footer_txt {
  font-size: 14px;
}
